@import url(fonts.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fonts: 'Roboto';
    --first-color: #FF9F00;
    --second-color: #09B3B0;
    --text: #008080;
    --title: #09292F;
}
li{
    list-style: none;
}
header{
    background: url(../images/header-1.jpg) no-repeat center/cover;
}
.header__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    color: var(--second-color);
    font-family: var(--fonts);
    transition: 0.3s;
}
.header__link:hover{
    color: var(--first-color);
    text-decoration: underline;
}
.header__top{
    display: flex;
    align-items: center;
}
.container__header{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    display: flex;
    align-items: center;
}
.header__link:nth-last-child(1){
  margin-right: 40px;
}
.header__content i{
    margin-right: 70px;
    padding: 10px;
    color: #fff;
    background: var(--second-color);
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid var(--second-color);
    transition: 0.3s;
}
.header__content i:hover{
    color:var(--second-color);
    background: var(--first-color);
}
.header__button{
    text-decoration: none;
    padding: 8px 24px;
}
.button{
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 5px; 
    border: 1px solid #09B3B0;
    background: var(--second-color);
}
.button2{
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 5px; 
    border: 1px solid  #FF9F00;
    background: var(--first-color);
}
.button:hover{
    background: var(--first-color);
    color:var(--second-color);
}
.button2:hover{
    background: var(--second-color);
    color:var(--first-color);
}
.header__bottom{
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header__title{
    font-size: 110px;
    line-height: 96.32%;
    color: var(--first-color);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 494px;
    padding-bottom: 67px;
}
.header__txt{
    font-size: 18px;
line-height: 38px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000000;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.header__money{
    font-size: 64px;
line-height: 38px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--first-color);
margin-bottom: 167px;
margin-top: 22px;
}
.header__single{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    padding: 55px 0;
    transform: translateY(20px);
}
.header__bottom__title{
    font-size: 72px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
font-family: 'Yrsa';
}


/* section start  */


.advisor{
    background: url(../images/section.png) no-repeat center/cover;
}
.advisor__img{
    display: flex;
}
.advisor__img img{
    margin-right: 21px;
}
.advisor__title{
    font-size: 23px;
line-height: 24px;
font-family: var(--fonts);
color: var(--text);
margin-bottom: 13px;
}
.advisor__txt{
    font-size: 16px;
line-height: 24px;
font-family: var(--fonts);
color: var(--title);
max-width: 458px;
}
.advisor__blocks{
    flex-direction: column;
    row-gap: 61px;
    padding-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.advisor__block{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.advisor__right{
    display: flex;
    flex-direction: column;
}
.advisor__right__title{
    font-size: 12px;
line-height: 12px;
font-family: var(--fonts);
color: #FFFFFF;
padding: 6px 49px 6px 8px;  
background: var(--second-color);
}
.advisor__right__txt{
    font-size: 22px;
line-height: 22px;
font-family: var(--fonts);
color: var(--title);
margin-top: 15px;
margin-bottom: 12px;
}
.advisor__right__call{
     margin-bottom: 15px;
}
.advisor__right__call span{
    margin-left: 18.5px;
    padding: 9px 0 13px 0;
}
.advisor__right__call i{
    padding: 0 0 0 25px;
}
.advisor__right__chat span{
    margin-left: 18.5px;
    padding: 9px 0 13px 0;
}
.advisor__right__chat i{
    padding: 0 0 0 25px;
}
.see__advisor{
    padding-top: 65px;
    padding-bottom: 67px;
}
.advisor__bottom{
    font-size: 15px;
line-height: 16px;
font-family: var(--fonts);
text-align: center;
color: #FFFFFF;
padding: 15px 62px;
background: var(--second-color);
text-decoration: none;
}
.hvr-box-shadow-inset {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
  }
  .hvr-box-shadow-inset:hover, .hvr-box-shadow-inset:focus, .hvr-box-shadow-inset:active {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
  }
  @-webkit-keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  @keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  .hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  .hvr-curl-top-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }
  .hvr-curl-top-left::after {
    pointer-events: none;
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: white;
    /* IE9 */
    background: linear-gradient(135deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
    /*For IE7-8-9*/
    z-index: 1000;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: width, height;
    transition-property: width, height;
  }
  .hvr-curl-top-left:hover::after, .hvr-curl-top-left:focus::after, .hvr-curl-top-left:active::after {
    width: 25px;
    height: 25px;
  }
.advisor__bottom2{
    font-size: 15px;
line-height: 16px;
font-family: var(--fonts);
text-align: center;
color: #FFFFFF;
padding: 15px 81px;
background: var(--first-color);
margin-left: 20px;
position: relative;
text-decoration: none;
}
.advisor__bottom2::before{
    position: absolute;
    content: url(../icons/frame.png);
    width: 116px;
    height: 44px;
    top: -15px;
    right: -138px;
}
.hover:hover{
    color: white;
}


/* Private section */


.private{
    background: #EDF8F9;
    padding-bottom: 60px;
}
.private__block{
    align-items: center;
    justify-content: center;
}
.ad{
    width: 86px;
    height: 86px;
}
.private__icons{
   height: 86px;
   width: 86px;
   align-items: center;
   justify-content: center;
}
.private__title{
    font-size: 46px;
line-height: 144px;
font-family: monospace;
text-align: center;
color: var(--title);
text-transform: uppercase;
}
.private__subtitle{
    font-size: 24px;
line-height: 29px;
color: var(--second-color);
font-family: monospace;
text-align: center;
margin-top: 7px;
}
.private__txt{
    font-size: 14px;
line-height: 20px;
color: var(--title);
max-width: 289px;
letter-spacing: 0.42px;
}
.private__link{
    font-size: 14px;
line-height: 20px;
color: var(--second-color);
text-decoration: none;
text-align: center;
letter-spacing: 0.42px; 
}
.private__link:hover{
color: var(--first-color);
}


/* FAQ */


.faq{
    background:  #E5E5E5;
}
.faq__box{
    padding-bottom: 70px;
}
.faq__title{
    font-size: 43px;
line-height: 48px;
text-align: center;
letter-spacing: 1px;
color: var(--title);
font-family: 'Yrsa';
padding-bottom: 31px;
padding-top: 10px;
}
.faq__txt{
    font-size: 16px;
line-height: 23px;
color: var(--title);
font-family: var(--fonts);
padding-bottom: 17px;
max-width: 1064px;
}
.faq__block{
    margin-left: 219px;
    row-gap: 10px;
}
.faq__block1{
    margin-left: 30px;
    row-gap: 10px;
}
.faq__blocks{
    padding-bottom: 40px;
}
.faq__button{
    font-size: 16px;
line-height: 16px;
text-decoration: none;
color: var(--second-color);
font-family: var(--fonts);
border-radius: 10px;
border: 1px solid var(--second-color);
text-align: center;
padding: 17px 25px;
transition: 0.3s;
width: 150px;
}
.faq__button:hover{
    color: var(--first-color);
}
.faq__link{
    font-size: 16px;
line-height: 23px;
text-decoration: none;
font-family: var(--fonts);
color: var(--text);
transition: 0.3s;
}
.faq__link:hover{
    color: var(--first-color);
}


/* Footer */


footer{
    padding: 55px 0;
    background: var(--second-color);
}
.footer__pro{
    padding-left: 20px;
}
.footer__link{
    font-size: 13px;
line-height: 24px;
font-family: 'Montserrat';
color: #FFFFFF;
text-decoration: none;
margin-top: 7px;
}
.footer__subtitle{
    font-size: 22px;
line-height: 26px;
font-family: 'Aleo';
color: #FFFFFF;
}
.footer__sil{
    font-size: 13px;
line-height: 13px;
color: #FFFFFF;
text-decoration: none;
font-family: 'Montserrat';
margin-top: 8px;
margin-bottom: 55px;
}
.footer__links{
    font-size: 12px;
line-height: 12px;
font-family: 'Montserrat';
text-decoration: none;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
}
.aff{
    position: relative;
}
.aff::after{
    position: absolute;
   content: '';
   width: 1px;
   height: 100%;
   top: 0px;
   right: -10px;
   background: rgba(230, 230, 230, 0.3);
}
.footer__title{
    font-size: 17px;
line-height: 22px;
font-family: 'Aleo';
color: #FFFFFF;
padding-bottom: 22px;
}
.footer__icons i{ 
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}
.footer__txt{
    font-size: 13px;
line-height: 24px;
font-family: 'Montserrat';
color: #FFFFFF;
max-width: 340px;
padding-top: 27px;
}
.footer__icons{
    column-gap: 20px;
}
.footer__li{
    column-gap: 17px;
}
.one i:hover{
    color: blue;
}
.two i:hover{
    color: rgb(52, 52, 128);
}
.three i:hover {
    color: red;
}
.four i:hover {
    color: rgb(190, 2, 2);
}
.five i:hover{
    color: rgb(0, 255, 98);
}
.six i:hover{
    color: rgb(0, 0, 0);
}